.form-container {
  background-color: var(--color-background-mute) !important;
  max-width: 65%;
  height: 96vh;
  margin: auto;
  top: 1rem;
  bottom: 1rem;
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.form-navigation {
  display: flex;
  justify-content: space-between;
}
.form-group {
  color: var(--label-color);
  margin: 0 auto 15px;
}

.form-header {
  text-align: center;
}

.form-body {
  background-color: var(--color-background-soft);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
  flex-grow: 1;
  overflow-y: scroll;
}

.form-control {
  color: var(--input-color);
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn:disabled {
  background-color: #aaa;
  color: #6a6a6a;   
  cursor: not-allowed;
  opacity: 0.6;
}

.save-btn {
  background-color: #28a745;
}

.back-btn {
  background-color: #d7d7d7;
  color: #6a6a6a;
}

.next-btn {
  background-color: #007bff;
}
