.login-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem auto;
  margin-bottom: 1rem;
  max-width: calc(100% - 2rem);
  padding: 1.5rem;
}

.login-card {
  width: 26rem;
  height: 30rem;
  margin: 2rem auto;
  border: 1px solid #000;
  color: #fff;
  border-radius: 8px;
  background: #27292e;
  border: none;
  display: flex;
  flex-direction: column;
}
.logo-section {
  display: flex;
  justify-content: center;
  align-self: top;
  width: 100%;
  height: 30%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-items: center;
  margin-bottom: 1rem;
  background: #48b684;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.form-section h1 {
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0 -1rem;
  justify-content: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-section button {
  padding: 0.75rem;
  border: none;
  border-radius: 15px;
  background: #48b684;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  width: 25%;
}

.form-section button:disabled {
  background: #999;
  cursor: not-allowed;
}

.error {
  margin-top: 1rem;
  color: red;
  font-weight: bold;
}
