.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-card {
  width: 32rem;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  background: var(--color-background-mute);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.iconified-input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.iconified-input-group option {
  color: var(--label-color);
}
.iconified-input-group select {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.register-card {
  overflow: hidden;
  padding: 1rem;
}
input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
}
.register-form button {
  padding: 0.75rem;
  border: none;
  border-radius: 15px;
  background: #48b684;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
  width: 25%;
}

.register-form button:disabled {
  background: #9999997a;
  cursor: not-allowed;
}

.extra {
  margin-top: 1rem;
  text-align: center;
}

.error {
  margin-top: 1rem;
  color: red;
  font-weight: bold;
}
