.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-card {
  width: 32rem;
  margin: 2rem auto;
  padding: 1.5rem;
  color: #fff;
  border-radius: 8px;
  background: #27292e;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-form button {
  padding: 0.75rem;
  border: none;
  border-radius: 15px;
  background: #48b684;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  width: 25%;
}

.register-form button:disabled {
  background: #9999997a;
  cursor: not-allowed;
}

.extra {
  margin-top: 1rem;
  text-align: center;
}

.error {
  margin-top: 1rem;
  color: red;
  font-weight: bold;
}
