label {
    color: var(--label-color);
    font-weight: bold;
}

input[type=date] {
  color-scheme: dark;
}

select {
    background-color: var(--input-background);
    color: var(--input-color);
    padding: .5rem;
    border-radius: .6rem;
}

input[disabled], select[disabled], option[disabled]{
    background-color: var(--disabled-input-background-color) !important;
    color: var(--disabled-input-color) !important;
}
input[type=radio], input[type=checkbox] {
    width: auto !important;
    margin-right: .5rem;
}

.form-row {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.form-element { 
    flex-grow: 1;
}
.form-element:has(select) {
    flex-grow: 0;
}