@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import "./base.css";
#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

.hanken-font {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}

a {
  color: #4f9cff;
  text-decoration: none;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
}
a:hover {
  text-decoration: underline;
}

#app input {
  border-radius: 15px;
  border-style: none;
  background: var(--input-background-color);
  width: 100%;
}
#app input:focus {
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 0 3px #48b684;
}

.iconified-input {
  width: 100%;
  flex-basis: 100%;
}
.iconified-input input {
  padding-left: 2.5rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.iconified-input input #password {
  font-size: large;
}
@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}
.dark-theme {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}
