@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import "./base.css";
#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

.hanken-font {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}

a {
  color: #4f9cff;
  text-decoration: none;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
}
a:hover {
  text-decoration: underline;
}

#app input {
  border-radius: 15px;
  border-style: none;
  background: var(--input-background);
  width: 100%;
}
#app input:focus {
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 0 3px #48b684;
}

input[type="radio"] {
  width: auto;
  height: auto;
  accent-color: #48b684;
}
input[type="checkbox"] {
  width: auto;
  height: auto;
  accent-color: #48b684;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

.iconified-input {
  width: 100%;
  flex-basis: 100%;
}
.iconified-input input {
  padding-left: 2.5rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.iconified-input input #password {
  font-size: large;
}
@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
}
